.container {
  margin: 100px auto;
  max-width: 768px;
}

#editor {
  padding: 32px;
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.editor {
  min-height: 640px;
}
