.editor {
  .cm-editor {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .cm-scroller {
    display: flex;
    align-items: flex-start;
    font-family: monospace;
    line-height: 1.5;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
    border-radius: 4px;
  }

  .cm-content {
    margin: 0;
    flex-grow: 2;
    min-height: 100%;
    display: block;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 4px 0;
    outline: none;
    background: #272822;
    color: #f8f8f2;

    &::selection {
      background: #49483E;
    }
  }

  .cm-line {
    display: block;
    padding: 0 2px 0 4px;
  }

  .cm-activeLine {
    background: #373831;
  }

  .cm-lineWrapping {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .cm-matchingBracket {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      border-bottom: 1px solid #f8f8f2;
    }
  }

  .cm-nonmatchingBracket {
  }

  .cm-gutters {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding-right: 4px;
    background: #272822;
    color: #d0d0d0;
  }

  .cm-gutter {
    display: flex !important;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
  }

  .cm-gutterElement {
    box-sizing: border-box;
  }

  .cm-lineNumbers .cm-gutterElement {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
  }

  .cmt-link {
    color: #ae81ff;
  }

  .cmt-heading {
  }

  .cmt-emphasis {
  }

  .cmt-strong {
  }

  .cmt-keyword {
    color: #f92672;
  }

  .cmt-atom {
    color: #ae81ff;
  }

  .cmt-bool {
  }

  .cmt-url {
    color: #ae81ff;
  }

  .cmt-labelName {
  }

  .cmt-inserted {
  }

  .cmt-deleted {
  }

  .cmt-literal {
  }

  .cmt-string {
    color: #e6db74;
  }

  .cmt-number {
    color: #ae81ff;
  }

  .cmt-string2 {
  }

  .cmt-variableName {
  }

  .cmt-variableName.cmt-local {
  }

  .cmt-variableName.cmt-definition {
  }

  .cmt-variableName2 {
    color: #9effff;
  }

  .cmt-typeName {
  }

  .cmt-namespace {
  }

  .cmt-macroName {
  }

  .cmt-propertyName {
    color: #a6e22e;
  }

  .cmt-operator {
  }

  .cmt-comment {
    color: #75715e;
  }

  .cmt-meta {
  }

  .cmt-invalid {
  }

  .cmt-punctuation {
    color: #f8f8f2;
  }
}
