.editor {

  select {
    border: none;
    background: transparent;
    font-size: 14px;
    color: #777;
    outline: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background: #eee;
    }
  }

  .cm-editor {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .cm-scroller {
    display: flex;
    align-items: flex-start;
    font-family: monospace;
    line-height: 1.5;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
    border-radius: 4px;
  }

  .cm-content {
    margin: 0;
    flex-grow: 2;
    min-height: 100%;
    display: block;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 4px 0;
    outline: none;
    color: #333;

    &::selection {
    }
  }

  .cm-line {
    display: block;
    padding: 0 2px 0 4px;
  }

  .cm-focused .cm-activeLine {
  }

  .cm-lineWrapping {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .cm-matchingBracket {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      border-bottom: 1px solid currentColor;
    }
  }

  .cm-nonmatchingBracket {
  }

  .cm-gutters {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding-right: 4px;
    color: #999;
  }

  .cm-gutter {
    display: flex !important;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
  }

  .cm-gutterElement {
    box-sizing: border-box;
  }

  .cm-lineNumbers .cm-gutterElement {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
  }

  .cmt-link {
  }

  .cmt-heading {
  }

  .cmt-emphasis {
    font-style: italic;
  }

  .cmt-strong {
    font-weight: 700;
  }

  .cmt-keyword {
    color: #333;
    font-weight: 700
  }

  .cmt-atom {
  }

  .cmt-bool {
  }

  .cmt-url {
  }

  .cmt-labelName {
  }

  .cmt-inserted {
  }

  .cmt-deleted {
    background: #fdd;
  }

  .cmt-literal {
    color: teal;
  }

  .cmt-string {
    color: #d14
  }

  .cmt-number {
    color: teal;
  }

  .cmt-string2 {
    color: #009926;
  }

  .cmt-variableName {
    color: teal;
  }

  .cmt-variableName.cmt-local {
  }

  .cmt-variableName.cmt-definition {
  }

  .cmt-variableName2 {
  }

  .cmt-typeName {
    color: #458;
    font-weight: 700;
  }

  .cmt-namespace {
    color: #458;
    font-weight: 700;
  }

  .cmt-macroName {
  }

  .cmt-propertyName {
    color: teal;
  }

  .cmt-operator {
  }

  .cmt-comment {
    color: #998;
    font-style: italic;
  }

  .cmt-meta {
  }

  .cmt-invalid {
  }

  .cmt-punctuation {
  }
}
